#searchProject {
    width: 100%;
    height:100%;
}
#searchProject table {
    border-collapse:collapse;
    width: 100%;
}

#searchProject table th, #searchProject table td {
    border:#333 solid 1px;
}

#searchProject table th {
    height: 30px;
}

#searchProject table td {
    height: 20px;
    text-align: center;
}