#inheader {
    width: 100%;
    min-width: 950px;
    height: 50px;
    background: darkslategray;
    border-bottom: 1px solid lightslategray;
}

#inheader .logout {
    float: right;
    width: 100px;
    height: 100%;
    padding-right: 50px;
}

#inheader .logout a {
    line-height: 50px;
    text-align: center;
    font-size: 15px;
    color: antiquewhite;
}

#inheader .logout a:hover {
    color: deepskyblue;
    cursor: pointer;
}

#inheader .role, #inheader .username {
    float: right;
    width: 180px;
    height: 100%;
}

#inheader .role p, #inheader .username p {
    line-height: 50px;
    font-size: 15px;
    text-align: left;
    color: whitesmoke;
}

#inheader .role p span, #inheader .username p span {
    color: wheat;
}

#inheader .logo {
    float: left;
    padding-left: 50px;
    color: whitesmoke;
    height: 100%;
}

#inheader .logo p {
    line-height: 50px;
    font-size: 20px;
    text-align: left;
}